extends layout

block content
    body.yes
        // a(href="https://en.wikipedia.org/wiki/Flag_Day_(United_States)")
        marquee(scrollamount="10").red Y
        marquee(scrollamount="10").white E 
        marquee(scrollamount="10").blue S
        a(href="https://en.wikipedia.org/wiki/Flag_Day_(United_States)")
            img(src="images/fireworks.gif")
